<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color='primary'>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
      <a mat-list-item [routerLink]="['post-list']">post-list</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>篱笆外</span>
      <span class="toolbar-spacer"></span>
      <span *ngIf='odic.userAvailable'>{{odic.user.profile.name}}</span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf='!odic.userAvailable' (click)="odic.triggerSignIn()">Sign In</button>
        <button mat-menu-item *ngIf='odic.userAvailable' (click)="odic.triggerSignOut()">Sign Out</button>
      </mat-menu>

    </mat-toolbar>
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
